@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import '../../node_modules/scroll-snap-slider';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    scroll-behavior: smooth;
} */

html, body {
    height: 100%;
}

html {
    scrollbar-gutter: stable !important;
}

body {
    background-color: #f1f7ed;
    font-family: 'Inter', Verdana, Arial, Helvetica, sans-serif;
}

.noScroll {
    touch-action: none;
    -ms-touch-action: none;
    height: 100%;
    overflow: hidden;
}
